{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login | ToDoApp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" action="">
					<span class="login100-form-title p-b-26">
						Sign In
					</span>
					{% csrf_token %}

					<div class="wrap-input100 validate-input" data-validate="Valid Email ID is required.">
						<input class="input100" type="email" name="email" value="{{email}}" autocomplete="off" required>
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100-extend validate-input" data-validate="6 to 10 characters long valid password is required which should contain letters or numbers only">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password" value="{{password}}" autocomplete="off" required pattern='^[a-zA-Z0-9]{6,10}$' oninvalid="this.setCustomValidity('6 to 10 characters long valid password is required which should contain letters or numbers only')" oninput="this.setCustomValidity('')">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
					<div class="text-center p-t-1">
						<a class="txt2" href="../account/email">
							Forgot Password ?
						</a>
					</div>
					<div class="checkbox p-t-30">
						<input type="checkbox" name="signedin" id="signedin" checked>
						<label for="signedin">Keep me signed in</label>
					</div>
					<div class="checkbox p-t-10">
						<input type="checkbox" name="remember" id="remember" checked>
						<label for="remember">Remember me</label>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Login
							</button>
						</div>
					</div>
					<div class="text-center m-t-20"><span>OR</span></div>
					<div class="text-center m-t-20">
						<a class="btn btn-outline-dark" href='{% provider_login_url "google" %}' role="button" style="text-transform:none">
							<img width="10px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
							Sign in with Google
						</a>
					</div>
					<div class="text-center p-t-15">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="../account/signup">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
		{% if messages %}
		{% for message in messages %}
		<script>
			alert('{{message}}')
		</script>
		{% endfor %}
		{% endif %}
	</div>


	<div id="dropDownSelect1"></div>
	<script src="{% static 'min2.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>