{% load static %}
<!Doctype html>
<html>
<head>
	<title>Sethi-ToDoApp</title>
	<meta charset="utf-8">
	<meta name="description" content="This is the main page.">
	<meta name="author" content="Tushar Sethi">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{% static 'style2.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">

	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body onload="readyToRun()">
	<div id="loading1"><img src="{% static 'loader.gif' %}"></div>
	<div class="everything text-center">
		<div class="container">
			<div class="my-container text-center">
				<div class="navigation">
					<a href="../account/details" class="update-details">Profile</a>
					<a href="../account/logout" class="logout">Logout</a>
				</div>
				<hr>
				<div class="hello">
					<span class="name">Hello, {{user.first_name}}</span>
				</div>
				<h2 class="text-center heading">My CheckList</h2>
				<button onclick="location.href='../newlist'" class="new-list-btn" type="button">Create new list</button>
				<div class="notes">
					{% for list in lists %}
					{% if list.isshared %}
					{% if list.ishost %}
					<a href="../checklist/{{list.list_no}}">
						<div class="my-note">
							<h3 class="title">{{list.title}}</h3>
							<span class="date">Created on : {{list.date}}</span><br>
							<span class="date">Shared with : {{list.sharedwith}}</span>
						</div>
					</a>
					{% else %}
					<a href="../checklist/{{list.list_no}}">
						<div class="my-note">
							<h3 class="title">{{list.title}}</h3>
							<span class="date">Shared on : {{list.last_shared_date}}</span><br>
							<span class="date">Shared by : {{list.shared_by}}</span>
						</div>
					</a>
					{% endif %}
					{% else %}
					<a href="../checklist/{{list.list_no}}">
						<div class="my-note">
							<h3 class="title">{{list.title}}</h3>
							<span class="date">Created on : {{list.date}}</span>
						</div>
					</a>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% if messages %}
		{% for message in messages %}
		<script>
			alert('{{message}}')
		</script>
		{% endfor %}
		{% endif %}
	</div>
	<div class="footer text-center">
		<hr>
		<span class="made-by">Made by <a href="https://www.linkedin.com/in/tusharsethi007/">Tushar Sethi</a></span>
	</div>
	<script>
		function readyToRun() {
			var loader = document.getElementById('loading1')
			loader.style.display = 'none';
		}

	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>