{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register | ToDoApp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" autocomplete="off">
					{% csrf_token %}
					<span class="login100-form-title p-b-10">
						Sign Up
					</span>
					<div class="text-center p-t-5 p-b-20">
						<span class="txt1">
							Already have an account?
						</span>

						<a class="txt2" href="../account/signin">
							Sign In
						</a>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Minimum 4 characters long username is required which should contain letters or numbers only">
						<input class="input100" type="text" name="username" autocomplete="off" required value="{{username}}" pattern="^[a-zA-Z0-9_ ]{4,100}$" oninvalid="this.setCustomValidity('Minimum 4 characters long username is required which should contain letters or numbers only')" oninput="this.setCustomValidity('')">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Valid email id is required">
						<input class="input100" type="email" name="email" autocomplete="off" required value="{{email}}">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="6 to 10 characters long valid password is required which should contain latters or numbers only">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass1" autocomplete="off" required value="{{password1}}" pattern="^[a-zA-Z0-9]{6,10}$"  oninvalid="this.setCustomValidity('6 to 10 characters long valid password is required which should contain letters or numbers only')" oninput="this.setCustomValidity('')">
						<span class="focus-input100" data-placeholder="Set password"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="6 to 10 characters long valid password is required which may contain latters or numbers only">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass2" autocomplete="off" required value="{{password2}}" pattern="^[a-zA-Z0-9]{6,10}$"  oninvalid="this.setCustomValidity('6 to 10 characters long valid password is required which should contain letters or numbers only')" oninput="this.setCustomValidity('')">
						<span class="focus-input100" data-placeholder="Confirm password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Register
							</button>
						</div>
					</div>


				</form>
			</div>
		</div>
		{% if messages %}
		{% for message in messages %}
		<script>
			alert('{{message}}')
		</script>
		{% endfor %}
		{% endif %}
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>